<html>
  <head>
    <title>Login</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <link href="/admin/styles/login.css" rel="stylesheet" />
    <script>
      if(<%= message%> !== '')
        alert(<%= message%>)
    </script>
  </head>
  <body class="text-center">
    <form method="POST" action="/admin/login" class="form-signin">
      <img
        class="mb-4"
        src="imgs/logo.png"
        alt=""
        height="190"
      />
      <label for="username" class="sr-only">Username</label>
      <input
        type="text"
        name="username"
        class="form-control"
        placeholder="Username"
        required
      />

      <label for="password" class="sr-only">Password</label>
      <input
        type="password"
        name="password"
        class="form-control"
        placeholder="Password"
        required
      />

      <button class="btn btn-lg btn-primary btn-block" type="submit">
        Sign in
      </button>
      <a href="admin/requestReset">Reset Password</a>
      <p class="mt-5 mb-3 text-muted">&copy; 2019 - Open source</p>
    </form>
  </body>
</html>
