<html>
  <head>
    <title>Reset Password</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <link href="styles/resetpassword.css" rel="stylesheet" />
  </head>
  <body class="text-center">
    <form method="POST" action="/passChange" class="form-password">
      <h2>Reset Your Default Password</h2>
      <input type='hidden' name='userid' value=<%= userId %>>
      <label for="username" class="sr-only">Username</label>
      <input type='text' name='username' class="form-control"
      placeholder="Username" value=<%= username %>>

      <label for="userEmail" class="sr-only">Email</label>
      <input type='email' name='userEmail' class="form-control"
      placeholder="userEmail">

      <label for="password" class="sr-only">New Password</label>
      <input type="password" name="password" class="form-control" />
      <button class="btn btn-lg btn-primary btn-block" type="submit">
        Reset
      </button>
    </form>
  </body>
</html>
