<html>
  <header>
    <title>Reset Password</title>
  </header>
  <body>
      <h2> Reset Password</h2>
    <form method="POST" action="/passChange">
      <input type='hidden' name='userid' value=<%= userId %>>
      <div>
        User Name : <input type='text' name='username' value=<%= username %>>
      </div>

      <div> New Password : <input type="password" name="password" /></div>
      <div>
          <input type="submit" value="Change">
      </div>
    </form>
  </body>
</html>
