html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  background-color: #91c0dc1a;
}

.container {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: auto;
  margin-left: auto;
}

.btn-dark {
  margin-right: 10px;
}

.buttonlist {
  margin: 10px;
}

.path {
  color: blue;
}

.method {
  color: red;
  border-color: red;
  border: solid;
  border-width: 1px;
  text-align: center;
  border-radius: 30px;
}

h1{
  font-size: 2.5rem;
    margin: 17px;
}
